/*


Layout
*/
body {
  text-align: center;
}

  #shell {
    margin: auto;
    position: relative;
    width: 960px;
    text-align: left;
  }
  
    #head {
      height: 150px;
      position: relative;
    }
    
      #head h1 {
        
      }
        
        #head h1 a {
          
        }
          
          #head h1 a span {
            
          }
    
    #main {
      float: right;
      position: relative;
      width: 75%;
    }
    
    #sub {
      float: left;
      position: relative;
      width: 25%;
    }
    

    #foot {
      clear: both;
      position: relative;
      text-align: center;
    }

/*

Navigation
*/
ul#navPrimary {
  height: 38px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  width: 760px;
  z-index: 1;
}

  ul#navPrimary li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
    
    ul#navPrimary li a {
      color: black;
      margin: 0;
      padding: 0 1em;
      text-decoration: none;
    }
    
    ul#navPrimary li a:hover {
    }
  
ul#navFoot {
}

  ul#navFoot li {
    display: inline;
    list-style: none;
  }
  
    ul#navFoot li a {
      padding: 1em;
      text-decoration: none;
    }
    
    ul#navFoot li a:hover {
    
    }

ul.navSub {
  width: 100%;
}

  ul.navSub li {
    list-style: none;
  }
  
    ul.navSub li a {
      display: block;
      text-decoration: none;
      width: 100%;
    }
    
    ul.navSub li a:hover {
    }

/*


Misc
*/
#cocoDesign {
  /*background: url(../images/CocoDesign.png) no-repeat;*/
  background: blue;
  display: block;
  height: 21px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 56px;
}

  #cocoDesign span {
    display: none;
  }

* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}
/*


Comes in Handy Sometimes
*/
.NoMargin {
  margin: 0 !important;
}
.clear, .clearme {
  clear: both;
}
ul.inline-list {
  margin-left: 0;
}
  ul.inline-list li {
    display: inline;
    float: left;
    list-style: none;
  }
    ul.inline-list li a {
      float: left;
    }

/*


Default styles for BrainBuster logic captcha
*/
#captcha {
  margin: .5em 0 .5em 0;
  font-size: 13px;
}

#captcha_answer {
  margin-left: .5em;
}

.captcha_failed input {
  border-style: inset;
  border-color: red;
  border-width: 3px;
}